main {
    display: flex;
    flex-direction: column;
    align-items: center;
}
section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}

div.input-box {
    background-color: mediumseagreen;
    border-radius: 15px;
    width: 200px;
    display: flex;
    margin: 5px;
    padding: 15px 20px 15px 20px;
}
input {
    flex-basis: 100%;
    border: none;
    padding: 15px;
    outline-width: 0;
    border-radius: 10px;
}
button {
    border: none;
    padding: 20px;
    border-radius: 15px;
    background-color: darkgrey;
    margin: 5px;
    width: 200px;
}
p {
    width: 200px;
    background-color: moccasin;
    border: solid 20px moccasin;
    border-radius: 15px;
    text-align: center;
    margin: 5px;
    word-break: break-all;
}